@media (max-width: 1028px){
    .card-title, .card-text, .lovin, .lorem, .butt{
        text-align: center !important;
    }
    /* .carousel-inner{
        display: block;
        margin-right: auto;
        margin-left:-100px;
        
    } */
}


@media (max-width: 768px){
    .carousel-inner{
        width: 70%;
        margin-left: 90px;
    }
}

@media(max-width: 1024px){
    .logo{
        width: 50%;
        margin-top: 25px;
    }
}

/* @media (max-height: 1024px){
    .card-title, .card-text, .lovin, .lorem, .butt{
            text-align: center !important;
        }
    } */


.login{
    position: absolute;
    top: 10px;
    right: 120px;
}


.sign{
    position: absolute;
    top: 10px;
    right: 30px;
}


.nav-link{
    color:silver;
}

.nav-link:hover{
    color: white;
}

* {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 70px;
    font-weight: 700px;
}